@font-face {
  font-family: "Proxima Nova Regular";
  src: url('../fonts/proxima_nova_regular.eot');
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: "Proxima Nova Regular";
  src: url('../fonts/proxima_nova_regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: "Proxima Nova Regular";
  src: url('../fonts/proxima_nova_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: "Proxima Nova Regular";
  src: url('../fonts/proxima_nova_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; 
}
:root {
  font-size: 62.5%;
  font-family: "Proxima Nova Regular", Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1e1f26;
}
/*=== общая ===*/
*,
*::after,
*::before {
  box-sizing: border-box;
}
html, 
body {
  padding: 0;
  margin: 0;
}
ul, 
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  overflow: hidden;
  width: 1px;
  height: 1px;
  border: 0;
  margin:-1px;
  padding:0;
  position: absolute;
}
.hidden__mobile {
  display: none;
}
.page {
  -js-display: flex;
  width: 100%;
  display: flex;
	min-height: 100vh;
}
.page--bg {
  position: relative;
  background-color: #393e3f;
  background-image: url("../img/bg-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.page--bg::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient( to top, rgba(30, 31, 38, 0.2), rgba(30, 31, 38, 0.9));
}
.page--col {
  -js-display: flex;
  flex-direction: column;
}
.container {
  max-width: 1148px;
  min-width: 878px;
  width: 100%;
  margin: 0 auto;
}
.container--col {
  display: flex;
  flex-direction: column;
}
.container--between {
  -js-display: flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container--center {
  -js-display: flex;
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}
.header-main {
  width: 100%;
  position: relative;
  color: #ffffff;
  z-index: 1;
}
.header-main--medium {
  max-width: 1148px;
  margin: 0 auto;
  padding: 45px 0 110px;
}
.header-main--fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/bg_header-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 50px 0 80px;
}
.header-main--fluid::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient( to top, rgba(30, 31, 38, 0.2), rgba(30, 31, 38, 0.9));
}
.header-main__slogan {
  -js-display: flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  width: 58.5%;
  min-width: 680px;
}
.header-main__row {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 58.5%;
  min-width: 680px;
}
.header-main__logo {
  margin: 8px 0 7px;
}
.header-main__inner {
  -js-display: flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85.9%;
}
.header-main__title {
  margin: 0;
  font-size: 2.7rem;
  line-height: 1.5;
  text-transform: uppercase;
}
.header-main__subtitle {
 margin: 0;
 font-size: 1.6rem;
 line-height: 1.3;
 font-weight: 300;
}
.form {
  position: relative;
  min-width: 878px;
  width: 100%;
  background-color: #ffffff;
}
.form--layout {
  -js-display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 0 35px 0;
  border-radius: 5px;
  margin: 0 0 207px 0;
  margin: 0 auto;
}
.form--size {
  -js-display: flex;
 display: flex;
 justify-content: center;
 padding: 40px 0 75px 0;
}
.form__inner-search {
  -js-display: flex;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 1px solid #a5a7b5;
}
.form__inner-search:hover {
  border-bottom: 1px solid #35363c;
}
.form__inner-search--size {
  width: 82.75%;
  margin-bottom: 50px;
}
.form__inner-search--narrow {
 width: 65.5%;
}
.form__search {
  box-sizing: border-box;
  width: 97.7%;
  height: 31px;
  padding: 10px 7px;
  font-family: "Proxima Nova Regular", Tahoma, sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  color: #a5a7b5;
  border: none;
  outline: none;
  transition: 100ms;
}
.form__input::-webkit-input-placeholder {color: #db0536;}
.form__input::-moz-placeholder {color: #db0536; opacity: 1;}
.form__input:-moz-placeholder  {color: #db0536; opacity: 1;}
.form__input:-ms-input-placeholder {color: #db0536;}
.form__icon-search {
  display: inline-block;
  width: 21px;
  height: 31px;
  padding: 7px 0 0 0;
  background-color: transparent;
}
.form__svg-search {
  width: 16px;
  height: 16px;
  fill: none; 
  stroke: #db0536;
  stroke-linecap: round; 
  stroke-linejoin: round; 
  stroke-width: 2px; 
  cursor: pointer;  
}
.form__wrap {
  -js-display: flex;
  display: flex;
  flex-wrap: wrap;
}
.form__wrap--row {
  width: 82.8%;
  margin: 0 0 38px 0;
}
.form__inner {
  display: flex;
  justify-content: space-between;
}
.form__field {
  position: relative;
  width: 31.5%;
}
.form__field--indent {
  margin: 0 0 0 10px;
} 
.form__field--calendar:hover .form__table {
  display: block;
}
.form__label {
  display: block;
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0 0 8px 0;
}
.form__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 13px 15px;
  font-family: "Proxima Nova Regular", Tahoma, sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.3;
  color: #db0536;
  border: 1px solid #35363c;
  border-radius: 2px;
}
.form__input--select {
  width: 105px;
}
.form__table {
  display: none;
  position: absolute;
  width: 300px;
  top: 87px;
  left: 0;
  border-collapse: collapse;
  background-color: #ffffff;
  z-index: 3;
}
.form__table::before {
  position: absolute;
  content: "";
  border: 7px solid transparent;
  border-bottom-color: #1e1f26;
  top: -13px;
  left: 143px;
}
.form__top {
  background-color: #1e1f26;
  border: solid 1px #1e1f26;
}
.form__caption {
  width: 300px;
  font-size: 1.7rem;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
  padding: 8px;
  color: #ffffff;
}
.form__cell-week {
  padding: 9px 0 12px;
  font-size: 1.1rem;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.form__row {
  border: solid 1px #adadad;
}
.form__cell {
  padding: 11px;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.2;
  color: #2e2e2e;
  background-color: #ffffff;
  border: solid 1px #adadad;
  cursor: pointer;
}
.form__cell--active {
  background-color: #db0536;
  color: #ffffff;
}
.form__cell--light {
  color: #adadad;
}
.form__select {
  position: relative;
  width: 105px;
}
.form__select--indent {
  margin: 0 10px 0 4.5%; 
}
.form__select--dropdown:hover .form__list {
  display: block;
}
.form__box1,
.form__box2 {
  position: absolute;
  width: 14px;
  height: 9px;
  right: 14px;
  bottom: 24px;
}
.form__list {
  display: none;
  position: absolute;
  width: 104px;
  padding: 10px 0;
  top: 87px;
  left: 0;
  background-color: #1e1f26;
  z-index: 3;  
}
.form__list::before {
  position: absolute;
  content: "";
  border: 7px solid transparent;
  border-bottom-color: #1e1f26;
  top: -13px;
  left: 46px;
}
.form__item {
  padding: 8px;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.3;
  color: #ffffff;
  cursor: pointer;
}
.form__item:hover {
  background-color: #2d2e37;
}
.form__wrap--checkbox {
  position: relative;
  width: 29%;
  margin: 0 0 34px 0;
}
.form__checkbox {
  display: none;
}
.form__label-checkbox {
  box-sizing: border-box;
  display: inline-block;
  padding-top: 5px;
  padding-left: 57px;
  padding: 5px 0 0 18%;
  font-size: 1.5rem;
  line-height: 1.2;
  color: #35363c;
}
.form__label-checkbox::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 0px;
  display: block;
  width: 23px;
  height: 23px;
  border: 1px solid #35363c;
  cursor: pointer;
}
.form__checkbox:checked + .form__label-checkbox::after {
  display: block;
}
.form__checkbox:checked + .form__label-checkbox::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 5px;
  width: 13px;
  height: 13px;
  background-color: #db0536;
}
.form__checkbox:checked + .form__label-checkbox::after {
  display: block;
}
.form__checkbox:checked + .form__label-checkbox::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 5px;
  width: 13px;
  height: 13px;
  background-color: #db0536;
}
.result {
  padding: 4px 0 0 0;
  font-size: 1.4rem;
  line-height: 1.5;
}
.result--light {
  width: 17.1%;
  min-width: 194px;
  position: relative;
}
.result--dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%;
}
.result__row {
  -js-display: flex;
  display: flex;
  flex-wrap: wrap;
}
.result__row--light {
  margin: 0 0 6px 0;
}
.result__row--dark {
  min-width: 194px;
}
.result__col {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}
.result__col--large {
  width: 107px;
}
.result__col--medium {
  width: 36px;
}
.result__col--small {
  width: 15px;
}
.icon {
  position: absolute;
  content: "";
}
.icon--month-light {
  width: 13px;
  height: 13px;
  top: 2px;
  right: 10px;
  fill: #ffffff;
}
.icon--grownups-light {
  width: 7px;
  height: 18px;
  top: -3px;
  right: 15px;
  fill: #ffffff;
}
.icon--children-light {
  width: 6px;
  height: 12px;
  top: 3px;
  right: 0;
  fill: #ffffff;
}
.icon--month {
  width: 13px;
  height: 13px;
  top: 2px;
  right: 10px;
  fill: #1e1f26;
}
.icon--grownups {
  width: 7px;
  height: 18px;
  top: -3px;
  right: 15px;
  fill: #1e1f26;
}
.icon--children {
  width: 6px;
  height: 12px;
  top: 3px;
  right: 0;
  fill: #1e1f26;
}
.icon--down-arrow1,
.icon--down-arrow2 {
  width: 14px;
  height: 19px;
  top: 0;
  left: 0;
  fill:#35363c;
  cursor: pointer;
 }
 .icon--left-arrow {
   width: 11px;
   height: 16px;
   top: 14px;
   left: 11px;
   fill:#fff;
   cursor: pointer;
   z-index: 4;
 }
 .icon--right-arrow {
   width: 11px;
   height: 16px;
   top: 14px;
   left: 280px;
   fill:#fff;
   cursor: pointer;
   z-index: 4;
 }
 .icon--plane {
   width: 18px;
   height: 18px;
   top: 6px;
   left: 35px;
   fill: #a5a7b5;
 }
.btn {
  box-sizing: border-box;
  white-space: nowrap;
  line-height: 1.2;
  border-radius: 50px;
  border: none;
  outline: none;
  transition: 500ms;
  cursor: pointer;
}
.btn:hover {
  background-color: #ac0027;
  border: 1px solid #ac0027;
}
.btn:active {
  color: #db0536;
  background-color: #ffffff;
}
.btn--result {
  font-size: 1.4rem;
  min-width: 97px;
  padding: 4px 14px;
  color: #ffffff;
  background-color: #db0536;
  border: 1px solid #db0536;
}
.btn--form {
  font-size: 1.6rem;
  min-width: 150px;
  padding: 20px 75px;
  color: #ffffff;
  background-color: #db0536;
  border: 1px solid #db0536;
  margin: 0 0 37px 0;
}
.btn--catalog {
  display: none;
  position: absolute;
  padding: 10px 43px;
  font-size: 1.6rem;
  top: 41%;
  left: 28%;
  color: #ffffff;
  background-color: #db0536;
  border: 1px solid #db0536;
}
.btn--info {
  display: block;
  min-width: 105px;
  padding: 5px 15px;;
  font-size: 1.4rem;
  text-align: center;
  color: #db0536;
  background-color: #ffffff;
  border: 1px solid #db0536;
}
.btn--info:hover {
  color: #ffffff;
}
.btn--info:active {
  color: #db0536;;
}
.btn--book {
  min-width: 255px;
  padding: 19px 62px;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #db0536;
  border: 1px solid #db0536;
}
.rating {
  -js-display: flex;
  display: flex;
}
.rating--size-tiny {
  width: 60px;
  justify-content: space-between;
}
.rating--size-small {
  justify-content: flex-end;
  width: 70px;
  padding: 6px 0;
}
.rating__item {
  width: 14px;
  height: 11px;
}
.rating__star {
  width: 11px;
  height: 11px;
  fill: #fdb913;
  cursor: pointer;
}
.catalog {
  -js-display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog--indent-top {
  margin: 3px 0 0 0;
}
.catalog__item {
  position: relative;
  margin: 0 0 12px 0;
  color: #ffffff;
}
.catalog__item:hover .btn--catalog {
  display: block;
}
.catalog__item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to top, rgba(32, 33, 40, 0.8) 0, transparent 100px);
}
.catalog__image {
  display: block;
  max-width: 100%;
  height: auto;
}
.catalog__features {
  -js-display: flex;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 18px 16px 12px 16px;
  left: 0;
  bottom: 0;
}
.catalog__inner {
  -js-display: flex;
  display: flex;
  flex-wrap: wrap;
}
.catalog__inner--left {
  width: 60%;
}
.catalog__inner--right {
  justify-content: flex-end;
  width: 30%;
}
.catalog__title {
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 600;
}
.catalog__text {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.5;  
}
.catalog__price {
  word-wrap: normal;
  font-size: 1.7rem;
  line-height: 1.5;
}
.description {
  -js-display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 55px 0 0 0;
}
.description__header {
  -js-display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31.4%;
  min-width: 320px;
  padding: 0 0 55px 0;
}
.description__title-header {
  padding: 0;
  margin: 0 0 4px 0;
  font-size: 2.7rem;
  line-height: 1.3;
  color: #000000;
}
.description__subtitle {
  padding: 0;
  margin: 0 0 41px 0;
  font-size: 1.6rem;
  line-height: 1.2;
}
.description__text {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #a5a7b5;
}
.description__wrap {
  -js-display: flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1148px;
  min-width: 878px;
  width: 100%;
}
.description__container {
  -js-display: flex;
  display: flex;
  flex-wrap: wrap;
  width: 32.24%;
  padding: 21px;
  border: 1px solid #35363c;
  border-radius: 2px;
}
.description__title {
  -js-display: flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 0 19px 0;
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 600;
  color: #db0536;
}
.description__price {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 600;
  color: #1e1f26; /*родительский блок .description__title*/
}
.description__list {
  margin: 0;
  padding: 0 0 7px 5px;
}
.description__item {
  position: relative;
  font-size: 1.4rem;
  line-height: 1.2;
  padding: 0 0 3px 7px;
}
.description__item::before {
  position: absolute;
  content: "";
  top: 7px;
  left: -2px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #1e1f26;
}
.info {
  width: 100%;
  padding: 65px 0 20px;
  border-bottom: 1px solid #d2d2d4;
}
.info--indent {
  padding: 35px 0 40px;
}
.info__title {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 600;
}
.info__title--up {
  padding: 0 0 0 3px;
  margin: 0 0 15px 0;
}
.info__title--under {
  padding: 0;
  margin: 0 0 20px 0;
}
.info__list {
  padding: 0 0 0 5px;
  margin: 0 0 21px 0;
}
.info__item {
  position: relative;
  padding: 0 0 0 6px;
  font-size: 1.5rem;
  line-height: 1.3;
}
.info__item::before {
  position: absolute;
  content: "";
  top: 7px;
  left: -2px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #1e1f26;
}
.address {
  padding: 35px 0 40px 0;
}
.address__title {
  padding: 0 0 0 3px;
  margin: 0 0 15px 0;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 600;
}
.address__list {
  padding: 0;
  margin: 0;
}
.address__item {
  font-size: 1.5rem;
  line-height: 1.3;
}
.map {
  width: 100%;
  min-height: 260px;
  background-color: #d3e4c8;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.map--indent {
  margin: 0 0 50px 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hidden {
    display: none;
  }
  .hidden__mobile {
    display: block;
  }
  .page--bg {
    background-image: url("../img/bg-mobile.jpg");
  }
  .page--bg::before {
    background-image: none;
    background-color: rgba(30, 31, 38, 0.6);
  }
  .page--light {
    flex-direction: column;
    background-image: url("../img/bg_light-mobile.jpg");
    position: relative;
    background-color: #9ac7e1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
  .container {
    min-width: 320px;
  }
  .container--between {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .header-main--medium {
    min-width: 320px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 0 35px; 
  }
  .header-main--fluid {
    background-image: none;
    width: 100%;
    padding: 0;
  }
  .header-main--fluid::before {
    background-image: none;
  }
  .header-main--mobile {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:  rgba(255, 255, 255, 0.1);
  }
  .header-main__slogan {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
  }
  .header-main__slogan--dark {
    background-color: #35363c;
  }
  .header-main__row {
    width: 85%;
    min-width: 285px;
  }
  .header-main__logo {
    margin: 0;
  }
  .header-main__logo--png {
    margin: 10px 0 44px;
  }
  .header-main__logo--svg {
    order: 1;
    display: block;
    margin: 13px 12px 6px 0;
  }
  .header-main__logo--slider {
    display: block;
    margin: 13px 18px 6px 0;
  }
  .header-main__img {
    border: none;
  }
  .header-main__arrow {
    position: relative;
    width: 50px;
    height: 50px;
    background-color:  rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
  }
  .header-main__inner {
    align-items: center;
    width: 100%;
  }
  .header-main__inner--small {
    align-items: flex-start;
    width: 64%;
  }
  .header-main__wrap-mobile {
    position: relative;
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #797872;
    background-image: url("../img/hotels_bg-mobile.jpg");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center -50px;
    padding: 15px 0 45px;
  }
  .header-main__wrap-mobile::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient( to top, transparent, rgba(32, 33, 40, 1));
  }
  .header-main__title {
    text-align: center;
    font-size: 2.2rem;
    line-height: 1.4;
    margin: 0 0 5px 0;
  }
  .header-main__title span {
    display: block;
  }
  .header-main__title--thin {
    order: 0;
    padding: 15px 5px 5px;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: none;
  }
  .header-main__title--medium {
    position: relative;
    font-size: 1.4rem;
    text-transform: none;
    margin: 0;
    z-index: 1;
  }
  .header-main__title--light {
    padding: 15px 5px 5px 19px;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: none;
    margin-right: auto;
  }
  .header-main__text {
    position: relative;
    font-size: 1.2rem;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 3px;
    margin: 0 0 3px 0;
    z-index: 1;
  }
  .header-main__subtitle {
    max-width: 260px;
    text-align: center;
  }
  .form {
    min-width: 220px;
    width: 68%;
    background-color: transparent;
  }
  .form--layout {
    padding: 0;
    border-radius: 0;
    margin-bottom: 0;
  }
  .form--size {
   width: 100%;
   background-color: #1e1f26;
   padding: 20px 0 18px;
  }
  .form--mobile {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    padding-top: 25px;
    margin: 0 auto;
  }
  .form--size-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 0 0;
  }
  .form__inner-search--narrow {
    width: 75%;
    background-color: #ffffff;
    border-radius: 50px;
  }
  .form__inner-search--dropdown {
    position: relative;
    width: 73%;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    margin: 0 0 25px 0;
    transition: 500ms;
  }
  .form__inner-search--dropdown:hover .form__dropdown {
    display: block;
  }
  .form__dropdown {
    display: none;
    width: 100%;
    position: absolute;
    padding: 10px 10px 0;
    top: 32px;
    left: 0px;
    color: #ffffff;
    background-color: rgba(30, 31, 38, 0.8);
  }
  .form__item-dropdown {
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    font-size: 1.5rem;
    line-height: 1.5;
    cursor: pointer;
  }
  .form__bold {
    font-size: 1.5rem;
    font-weight: 600;
  }  
  .form__search--mobile {
    width: 92%; 
    font-size: 1.4rem;
    color: #191919;
  }
  .form__search {
    background-color: transparent;
  }
  .form__svg-search--dark {
    stroke: #1e1f26;
    opacity: 0.7;
  }
  .form__svg-search--light {
    stroke: #ffffff;
  }
  .form__container {
    width: 100%;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin: 0 0 29px 0;
  }
  .form__container--calendar .form__table {
    display: block;
  }
  .form__table {
    max-width: 300px;
    width: 100%;
    top: 73px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .form__table::before {
    border: none;
  }
  .form__holder {
    width: 55%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 20px 0;
  }
  .form__label {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    margin: 0 0 8px 0;
  }
  .form__button {
    position: relative;
    box-sizing: border-box;
    border-radius: 50px;
    width: 48px;
    height: 48px;
    background-color:  rgba(255, 255, 255, 0.2); 
    border: none;
    outline: none;
  }
  .form__button--active {
    background-color: #db0536;
  }
  .form__number {
    display: block;
    box-sizing: border-box;
    width: 30px;
    padding: 0;
    font-family: "Proxima Nova Regular", Tahoma, sans-serif;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.3;
    color: #ffffff;
    background-color: transparent;
    border: none;
    border-radius: 50px;
  }
  .form__number--size {
    padding-left: 6px;
  }
  .slader {
    display: block;
  }
  .slader {
    display: flex;
    justify-content: space-between;
    width: 78px;
    margin: 0 0 59px 0;
  }
  .slader--dark {
    margin: 0 0 17px 0;
  }
  .slider__control {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
  }
  .slider__control--dark {
    background-color: rgba(154, 154, 157, 0.2);
  }
  .slider__control--active {
    background-color: rgba(255, 255, 255, 1);
  }
  .slider__control--active-dark {
    background-color: rgba(154, 154, 157, 1);
  }
  .rating--size-tiny {
    width: 72px;
  } 
  .result {
    position: relative;
    padding: 0;
    font-size: 0;
    line-height: 0;
    z-index: 1;
  }
  .result--light {
    width: 44%;
    min-width: 140px;
    position: relative;
  }
  .result--dark {
    width: 100%;
  }
  .result--mobile {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .result__col--large {
    width: 67px;
    margin: 0 10px 0 0;
  }
  .result__col--medium {
    width: 25px;
  }
  .result__col--small {
    width: 12px;
  }
  .icon--arrow-mobile {
    width: 13px;
    height: 20px;
    top: 14px;
    left: 16px;
    fill:#fff;
    cursor: pointer;
  }
  .icon--month-light {
    right: 5px;
  }
  .icon--grownups-light {
    right: 10px;
  }
  .icon--month {
    right: 5px;
  }
  .icon--grownups {
    right: 10px;
  }
  .icon--minus {
    width: 24px;
    height: 4px;
    top: 45%;
    left: 25%;
    fill: #ffffff;
  }
  .icon--plus {
    width: 24px;
    height: 24px;
    top: 25%;
    left: 25%;  
    fill: #ffffff;
  }
  .btn--form {
    min-width: 220px;
    padding: 12px 57px;
    margin-bottom: 0;
  }
  .btn--form-light {
    padding: 9px 16px;
    font-size: 1.1rem;
    line-height: 1.2;
    color: #ffffff;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0);
  }
  .btn--form-light:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0);  
  }
  .btn--form-light-small {
    min-width: 133px;
  }
  .btn--result-mobile {
    min-width: 135px;
    margin-top: 12px;
    font-size: 1.1rem;
    line-height: 1.3;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #8e8f92;
    border: 1px solid #8e8f92;
    padding: 8px 37px;
    margin-bottom: 25px;
  }
  .btn--result-mobile:hover {
    border-color: #8e8f92;
    background-color: #8e8f92;
    color: #ffffff; 
  }
  .btn--book {
    min-width: 220px;
    padding: 15px 58px;
    text-transform: uppercase;
    font-size: 1.2rem;
  }
  .btn--form-mobile {
    margin: 50px 0 0 0;
    font-size: 1.5rem;
    line-height: 1.3;
    color: #ffffff;
    background-color: #db0536;
    border: 1px solid #db0536;
    padding: 14px 27px;
  }
  .catalog {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .catalog--indent-top {
    margin: 0;
  }
  .catalog__item {
    margin: 0;
  }
  .catalog__item:hover .btn--catalog {
    display: none;
  }
  .catalog__item--order-one {
    order: -3;
  }
  .catalog__item--order-two {
    order: -2;
  }
  .catalog__item--order-three {
    order: -1;
  }
  .catalog__features {
    padding: 18px 14px 8px 16px;
  }
  .catalog__inner--left {
    width: 70%;
    padding: 5px 0 0 0;
  }
  .catalog__title {
    font-size: 1.3rem;
  }
  .catalog__text {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.6); 
  }
  .catalog__price {
    font-size: 1.2rem;
  }
  .description {
    width: 100%;
    min-width: 320px;  
    padding: 20px 0 0 0;
  }
  .description__header {
    padding: 0 0 15px 0;
  }
  .description__text {
    font-size: 1.2rem;
  }
  .description__wrap {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 74%;
    min-width: 280px;
    border-bottom: 1px solid #d2d2d4;
    margin: 0 0 30px 0;
  }
  .description__container {
    width: 100%;
    background-color: #1e1f26;
    padding: 13px 15px 5px;
    border: none;
    margin: 0 0 23px 0;
  }
  .description__title {
    padding: 0 0 13px 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.3);
  }
  .description__price {
    color: #ffffff; 
  }
  .description__list {
    padding: 0 0 7px 5px;
  }
  .description__item {
    font-size: 1.3rem;
    padding: 0 0 2px 7px;
    color: #ffffff;
  }
  .description__item::before {
    background-color: #ffffff;
  } 
  .description__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 74%;
    min-width: 280px;
    border-bottom: 1px solid #d2d2d4;
  }
  .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 74%;
    min-width: 280px;
    padding: 18px 0;
    margin: 0 auto;
  }
  .info--indent {
    padding: 20px 0 12px;
  }
  .info__title {
    width: 100%;
  }
  .info__title--up {
    margin: 0 0 5px 0;
  }
  .info__title--under {
    font-size: 1.4rem;
    margin: 0 0 7px 0;
  }
  .info__list {
    width: 100%;
    margin: 0;
  }
  .info__link {
    margin: 8px 0;
    width: 100%;
    padding: 0 3px;
    font-size: 1.5rem;
    line-height: 1.2;
    color: #db0536;
    text-decoration: underline;
  }
  .address {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 74%;
    min-width: 280px;
    margin: 0 auto;
    padding: 20px 0 15px 0;
  }
  .address__title {
    width: 100%;
    margin: 0 0 5px 0;
    font-size: 1.4rem;
  }
  .address__list {
    width: 100%;
  }
  .map {
    width: 74%;
    min-width: 280px;
    margin: 0 auto;  
    min-height: 205px;
    background-image: url("../img/map-mobile.jpg");
    background-size: auto;
    background-position: center -235px;
  }
  .map--indent {
    margin-bottom: 25px;
  } 
}